name: Deploy Web App
on:
  push:
    branches: [master]
 
jobs:
  build-and-test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username "${{ secrets.DOCKER_USERNAME }}" --password-stdin docker.io
      
      - name: Build Docker image
        run: docker build -t cygnetops/web-app-test -f Dockerfile.dev .
      
      - name: Run tests
        run: docker run -d --rm --name web-app-test -e CI=true cygnetops/web-app-test npm run test

      - name: Create new build
        run: docker exec web-app-test npm run build
      
      - name: Generate deployment package zip file
        run: docker exec web-app-test apt-get install zip && zip -r /home/node/app/deploy.zip /home/node/app/build -x '*.git*'

      - name: Copy deployment package to local machine
        run: docker cp web_app-web_app_server-1:/home/node/app/deploy.zip /home/wauser/
      
      - name: Remove temporary web app test container
        run: docker stop web-app-test && docker rm web-app-test

  deploy:
    needs: build-and-test
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username "${{ secrets.DOCKER_USERNAME }}" --password-stdin docker.io
      
      # Add deploy steps here
      - name: Copy deployment package to Nginx server container
        run: docker cp /home/wauser/deploy.zip web_app-web_app_server-1:/usr/share/nginx/html/

      - name: Extract deployment package on Nginx server container
        run: docker exec web_app-web_app_server-1 unzip -o /usr/share/nginx/html/deploy.zip -d /usr/share/nginx/html/
      
      - name: Restart Nginx service
        run: service nginx restart